@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_variables";

/**
 * Game panel
 */
.ng-reversi-game-panel {
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  border-style: solid;
  border-color: $table-border-color;
  border-width: 0.2em;
  border-radius: $border-radius-small;
}

.ng-reversi-board-square {
  background: $brand-success;
  border-style: solid;
  border-color: $table-border-color;
  border-width: 0.1em;
  float: left;
  width: 12.5%;
  height: 0;
  padding-bottom: 12.5%;
}

/**
 * Game pieces
 */
@mixin reversi-piece() {
  border-radius: 50%;
  padding: 40%;
  margin: 10%;
}

@mixin reversi-piece-animate($duration) {
  -webkit-transition: all $duration ease-in;
  -moz-transition: all $duration ease-in;
  -o-transition: all $duration ease-in;
  transition: all $duration ease-in;
}

.ng-reversi-board-piece0 {
  @include reversi-piece;
}

.ng-reversi-board-piece1 {
  background: #000;
  @include reversi-piece;
  @include reversi-piece-animate(.5s);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.ng-reversi-board-piece2 {
  background: #fff;
  @include reversi-piece;
  @include reversi-piece-animate(.5s);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.ng-reversi-board-piece-hint1 {
  @include reversi-piece;
  background: rgba(0, 0, 0, 0.1);
  @include reversi-piece-animate(.5s);
}

.ng-reversi-board-piece-hint2 {
  @include reversi-piece;
  background: rgba(255, 255, 255, 0.15);
  @include reversi-piece-animate(.5s);
}

/**
 * Status panel + items
 */
.ng-reversi-status-panel {
  height: 2em;
  width: 12em;
  margin-left: auto;
  margin-right: auto;
}

.ng-reversi-status-box {
  width: 2em;
  height: 2em;
  padding: 0;
  margin: .5em 0 0 0;
  float: left;
  position: relative;
}

.ng-reversi-status-label {
  float: left;
  width: 4em;
  margin: .75em 0 0 0;
  text-align: center;
}

.ng-reversi-status-active-indicator-1 {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid $brand-success;
  @include reversi-piece-animate(.1s);

}

.ng-reversi-status-active-indicator-2 {
  width: 0;
  height: 0;
  padding-left: 1em;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1em solid $brand-success;
  @include reversi-piece-animate(.1s);

}

/**
 * Settings
 */

.ng-reversi-setting-hints {
  float: right;
  margin-right: 1em;
  margin-top: -.5em;
}
