<div class="ng-reversi-field">
  <div class="ng-reversi-row" ng-repeat="row in state.data track by $index" ng-init="rowidx = $index">
    <div class="ng-reversi-col" ng-repeat="col in row track by $index" ng-init="colidx = $index"
         ng-click="$emit('reversiClickField', rowidx, colidx)">
      <div class="ng-reversi-btn{{col}}"></div>
    </div>
  </div>
</div>
<div class="ng-reversi-score-box">
   <div class="ng-reversi-btn1 ng-reversi-btn-status"></div><div class="ng-reversi-score"> {{score1}} : {{score2}} </div><div class="ng-reversi-btn2 ng-reversi-btn-status"></div>
</div>
